@layer catppuccin {
  /* align with style guide for main body copy -> `text` */
  :root {
    --sl-color-text: var(--sl-color-white);
  }

  /* increase contrast of ToC in the right sidebar */
  .right-sidebar-panel a:not(:hover):not([aria-current="true"]) {
    color: var(--sl-color-gray-2);
  }

  header,
  .right-sidebar,
  .content-panel {
    border-color: var(--sl-color-hairline-light) !important;
  }

  site-search kbd {
    background-color: var(--sl-color-gray-5);
  }

  .sl-link-card:hover {
    background-color: var(--sl-color-gray-6);
  }

  .expressive-code pre {
    --code-background: var(--sl-color-gray-6);
  }
}
